from fabric.api import *
import os
from glob import glob

dns_dir = os.path.join(os.path.dirname(os.path.realpath(__file__)), 'dns')

base_dir = os.path.dirname(os.path.realpath(__file__))
dns_dir = os.path.join(base_dir, 'dns')
zones_dir = os.path.join(dns_dir, 'zones')

zones = list(os.path.basename(zonefile) for zonefile in glob(os.path.join(zones_dir,"*")) if not zonefile[-5:] == '.zone')

update_secret = "yolo1"

dns_master = "192.168.100.1"

dns_slaves = [
    {
        'name': 'ns2',
        'address': '192.168.100.2',
        'secret': 'yolo2',
    },
    {
        'name': 'ns3',
        'address': '192.168.100.3',
        'secret': 'yolo3',
    },
]

if not env.hosts:
    env.hosts = list(slave['address'] for slave in dns_slaves)
    env.hosts.reverse()
    env.hosts.append(dns_master)
    env.hosts.reverse()
