from fabric.api import *
import os
from glob import glob

base_dir = os.path.dirname(env.real_fabfile)

# monitoring

monitoring_host = "example.com"
monitoring_pubkey = "ssh-ed25519 AAAABBBBBCCCCCCDDDDDDDEEEEEEFFFFF yolo@example.com"
monitoring_remotes = ['ns1.example.com', 'ns2.example.com']

# dns

dns_dir = os.path.join(base_dir, 'dns')
zones_dir = os.path.join(dns_dir, 'zones')

zones = list(os.path.basename(zonefile) for zonefile in glob(os.path.join(zones_dir,"*")) if not zonefile[-5:] == '.zone')

update_secret = "yolo1"

dns_master = "192.168.100.1"

dns_slaves = [
    {
        'name': 'ns2',
        'address': '192.168.100.2',
        'secret': 'yolo2',
    },
    {
        'name': 'ns3',
        'address': '192.168.100.3',
        'secret': 'yolo3',
    },
]

# hosts

env.parallel = True

env.roledefs = {
    'dns_master': [dns_master],
    'dns_slaves': list(slave['address'] for slave in dns_slaves),
    'monitoring_host': [monitoring_host],
    'monitoring_remotes': monitoring_remotes,
}

